{% extends 'base.html' %}
{% block title %}{{ metric }} {{ screen_name }} Timeline{% endblock %}

{% block js %}
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script>
	google.load('visualization', '1', {'packages':['annotatedtimeline']});

	google.setOnLoadCallback(drawChart);

	function drawChart() {
		{{ table_json|safe }}
		//var jscode_table = new google.visualization.Table(document.getElementById('table_div_jscode'));
		var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
		//jscode_table.draw(jscode_data, {showRowNumber: true});
		chart.draw(jscode_data, {displayAnnotations: true});
	}
</script>
{% endblock %}

{% block content %}
<h1 class="metric">@{{ screen_name }} timeline for {{ metric }}</h1>
<div id="chart_div" class="span-18" style="height: 250px"></div>

{% ifequal data_length 0 %}
<div class="notice span-5 last"><strong>Where's my graph?</strong> Uh oh, it looks like
	@twigra hasn't processed any direct messages from you with your graph data.
	Try reading the <a href="/">instructions</a> again or emailing Jim.</div>

{% else %} {% ifequal data_length 1 %}
<div class="notice span-5 last"><strong style="font-size: larger;">Where's my
	graph?</strong> Congradulations, you've stared graphing with twigra!  Since
	you <strong>only have a few data points</strong>, your graph may look
	incomplete, but don't worry!  After tweeting a few more days you'll have a
	graph that would make Tufte green with envy.
</div>

{% endifequal %}

<div class="span-19">Last tweet processed: {{ most_recent }}</div>
{% endifequal %}

{% endblock %}

