{% extends 'base.html' %}
{% block title %}twigra - tweet powered graphs{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script>
	google.load('visualization', '1', {'packages':['annotatedtimeline']});

	google.setOnLoadCallback(drawChart);

	function drawChart() {
		var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
		new google.visualization.Query("{{ MEDIA_URL }}global/main.json").send(function(response) {
			chart.draw(response.getDataTable(), {legendPosition: 'newRow', displayAnnotations: true, thickness: 4});
		});
	}
</script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="instructions" class="span-24 last">
	<h2 class="app_title" style="margin-left: 0.3em;">twigra</h2><span class="app_title"> tweet powered graphs</span>
	<ol>
		<li><a href="http://www.twitter.com/twigra" target="_blank">Follow 
			<span style="text-decoration: underline;">@twigra</span>
			<img src="{{ MEDIA_URL }}global/follow_dots.png" alt="" />
			<img src="{{ MEDIA_URL }}global/twigra_logo_large.png" alt="" width="150" height="116" />
		</a>
		</li>

		<li>Direct message @twigra numbers for your graph
		<img src="{{ MEDIA_URL }}global/example_tweet.png" alt="" class="span-12" style="float: left; padding-right: 1em; padding-bottom: 2em;"/>
		<div class="span-9" style="font-size: medium; padding-top: 2em;">The format is
			easy: just type in what you're measuring (like 'mood'), a
			colon (':'), a numeric score (10) and optionally any
			info you want to display in the graph.</div>
		</li>

		<li style="clear: left;">Check out your graphs!<br/>
		<div class="span-9" style="font-size: medium; padding-top: 2em;">You can see your
			stats by typing in your 
			<input name="screen_name" id="screen_name" value="twitter name" onFocus="this.select()" maxlength="20"/>
			and the
			<input name="metric" id="metric" value="metric" onFocus="this.select()" maxlength="20" /> you
			tweeted, like mood. <button onClick="direct_to_metrics();;">Go!</button>
			<div id="go_error"></div>
		</div>
		<div id="chart_div" class="span-13 last" style="height: 250px; float: right;"></div></li>
</div>

<script>
	var metric_url = '{% url graph.views.follower_metric_detail "__T__", "__M__" %}' 
	function direct_to_metrics() {
		if( $('#screen_name').val() == 'twitter name' ) {
			$('#go_error').html('Type in your Twitter screen name above');
			$('#go_error').addClass('error');
		} else {
		window.location = metric_url.replace("__T__", $('#screen_name').val()).replace("__M__", $('#metric').val());
		}
	}
</script>

{% endblock %}
